<div class="container-center-small">
    <h2 class="page-header">Gallery</h2>
    <div>
        Real Time Photos
    </div>
</div>
<div class="grid-container">
    <% imagePaths.forEach((imagePath) => { %>
        <img src="/uploads/images/album1/resized/<%= imagePath %>" alt="Image">
    <% }); %>
</div>