<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Soo Construction Inc</a>
        <ul>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>