<header>
    <nav class="header-nav">
        Soo Construction Inc
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>
</header>