<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="stylesheets/main.css">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>
<body>
    <div class="container">
        <div class="container-center-small">
            <%- include('../partials/header.ejs') %>
            <%- include('../partials/intro-text.ejs') %>
        </div>
        <!-- <div class="inner-container"> -->
        <div>
            <%- body %>
        </div>
    </div>
</body>
</html>