<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="/stylesheets/shared/landing.css" rel="stylesheet">
</head>
<body>
	<div id="carouselExample" class="carousel slide">
		<div class="carousel-inner">
		  <div class="carousel-item active">
			<img src="/uploads/images/main-slide-images/main-home-addition.jpg" class="d-block w-100">
			<div class="carousel-caption">
				<h5>Home Additions</h5>
				<p>Check out our home addition gallery</p>
				<p><a class="btn btn-warning mt-3" href="/home-addition-gallery">See More</a></p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img src="/uploads/images/album1/roofing.jpg" class="d-block w-100">
			<div class="carousel-caption">
				<h5>Roofing</h5>
				<p>Check out our roofing gallery</p>
				<p><a class="btn btn-warning mt-3" href="/roofing-gallery">See More</a></p>
			</div>
		  </div>
		  <div class="carousel-item">
			<img src="/uploads/images/album1/home-3.jpg" class="d-block w-100" >
			<div class="carousel-caption">
				<h5>Repairs</h5>
				<p>Check out our repair gallery</p>
				<p><a class="btn btn-warning mt-3" href="/repairs-gallery">See More</a></p>
			</div>
		  </div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
		  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
		  <span class="carousel-control-next-icon" aria-hidden="true"></span>
		  <span class="visually-hidden">Next</span>
		</button>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> 
</body>