<div class="grid-container">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
</div>