<div class="container-center-small">
    <h2 class="page-header">
        Home Page
    </h2>
    <div class="cstm-text">
        What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
                when an unknown printer took a galley of type and scrambled it to make a type 
                specimen book. It has survi
    </div>
</div>
<div>
    <h1>
        Roofing
    </h1>
    <div>
        <img src="/uploads/images/album1/resized/IMG_7853.jpg" alt="Image">
    </div>
</div>
<div class="grid-container">
    <img src="/uploads/images/album1/resized/IMG_7853.jpg" alt="Image">
    <img src="/uploads/images/album1/resized/IMG_7837.jpg" alt="Image">
    <img src="/uploads/images/album1/resized/IMG_7838.jpg" alt="Image">
</div>
<h1 class="center-header">
    Repairs
</h1>
<div class="grid-container">
    <img src="/uploads/images/album1/resized/IMG_7853.jpg" alt="Image">
    <img src="/uploads/images/album1/resized/IMG_7837.jpg" alt="Image">
    <img src="/uploads/images/album1/resized/IMG_7838.jpg" alt="Image">
</div>
<div class="grid-container">
    <% imagePaths.forEach((imagePath) => { %>
        <img src="/uploads/images/album1/resized/<%= imagePath %>" alt="Image">
    <% }); %>
</div>