<div class="container-center-small">
    <h2 class="page-header">Our Work Page</h2>
    <div>
        Text
    </div>
</div>
<div class="grid-container">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
    <img src="/uploads/images/sample.jpg" alt="Sample Image">
</div>