@import 'shared/variables.css';
@import 'shared/header.css';
@import 'shared/grid.css';

:root {
    font-family: 'SSone', 'Helvetica Neue', Arial;
    font-weight: 500;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container-center-small {
    width: 50%;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
    color: #242632;
}

.cstm-text {
    line-height: 1.7;
    font-size: var(--text-size-standard);
}

.center-header {
    text-align: center;
}