@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header.css';
@import 'shared/grid.css';

:root {
    font-family: 'SSone', 'Helvetica Neue', Arial;
    color: var(--color-text-light);
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.container-center-small {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}