<div class="container-center-small">
    <h2>Repairs Gallery</h2>
</div>
<div class="centered-container">
    <div class="reg-grid-container">
        <% imagePaths.forEach((imagePath) => { %>
            <img src="/uploads/images/album1/resized/<%= imagePath %>" alt="Image">
        <% }); %>
    </div>
</div>