.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-row-gap: 10px;
    grid-column-gap: 0px;
}
.grid-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10%;
  }